<nav>
  <a (click)="setActiveComponent('orgChartActive')">OrgChart</a>
  <a (click)="setActiveComponent('feedbackChartActive')">Feedback Chart</a>
  <a (click)="setActiveComponent('vBarChartActive')">V Bar Chart</a>
  <a (click)="setActiveComponent('hBarChartActive')">H Bar Chart</a>
  <a (click)="setActiveComponent('lineChartActive')">Line Chart</a>
  <a (click)="setActiveComponent('donutChart')">Donut Chart</a>
</nav>

<div class="chart" *ngIf="chartsActive.orgChartActive">
  <app-org-chart [dataset]="orgChartDataset"></app-org-chart>
  <app-data-structure [dataset]="orgChartDataset"></app-data-structure>
</div>

<div class="chart" *ngIf="chartsActive.feedbackChartActive">
  <app-feedback-chart [dataset]="feedbackChartDataset" [legend]="legendDataset"></app-feedback-chart>
  <app-data-structure [dataset]="feedbackChartDataset"></app-data-structure>
</div>

<div class="chart" *ngIf="chartsActive.vBarChartActive">
  <app-vbar-chart [dataset]="vBarChartDataset" [legend]="legendDataset"></app-vbar-chart>
  <app-data-structure [dataset]="vBarChartDataset"></app-data-structure>
</div>

<div class="chart" *ngIf="chartsActive.hBarChartActive">
  <app-hbar-chart [dataset]="hBarChartDataset" [legend]="legendDataset"></app-hbar-chart>
  <app-data-structure [dataset]="hBarChartDataset"></app-data-structure>
</div>

<div class="chart" *ngIf="chartsActive.lineChartActive">
  <app-line-chart [dataset]="lineChartDataset" [legend]="legendDataset"></app-line-chart>
  <app-data-structure [dataset]="lineChartDataset"></app-data-structure>
</div>

<div class="chart" *ngIf="chartsActive.donutChart">
  <app-donut-chart [dataset]="donutChartDataset" [legend]="legendDataset"></app-donut-chart>
  <app-data-structure [dataset]="donutChartDataset"></app-data-structure>
</div>
